.selected {
    -fx-background-color: #7d3456;
}


.mouse-move: hover{
    -fx-background-color: #cccccc;
}

.background{
    -fx-background-color: #f4f4f4;
}
.img-radius{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.text-input{
    -fx-background-color : rgba(0,0,0,0);
    -fx-border-width : 0 0 1 0;
    -fx-border-color : #ffffff;

}

.pane-border{
    -fx-border-width : 0 0 0 1;
    -fx-border-color : #ffffff;
}
