.selected {

}
.button-mouse-hover: hover{
    -fx-background-color : #c9528a;
}
.help-popUp-hover: hover{
    -fx-background-color : #a984c0;
}
.help-popUp-background{
    -fx-background-color : #886a9a;
}
.popUp-background {
    -fx-background-color: #a34370;
}
.button-background{
    -fx-background-color: #ffffff;
}
.resource-button-background{
    -fx-background-color: #ffffff;
}
.resource-mouse-hover : hover{
    -fx-background-color: #ffffff;
}
.helpPost-button-background{
     -fx-background-color: #886a9a;
}
.w-move-mouse: hover {
     -fx-background-color: #a984c0;
}

.mouse-move: hover{
    -fx-background-color: #cccccc;
}
.mouse-hover: hover{
    -fx-background-color: #e6a111;
}

.background{
    -fx-background-color: #f4f4f4;
}
.background-button{
    -fx-background-color: #c0870f;
}
.img-radius{
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.text-input{
    -fx-background-color : rgba(0,0,0,0);
    -fx-border-width : 0 0 1 0;
    -fx-border-color : #ffffff;

}

.pane-border{
    -fx-border-width : 0 0 0 1;
    -fx-border-color : #ffffff;
}
.file-background {
    -fx-background-color : #c0870f;
}
.file-move:hover{
    -fx-background-color : #ffd932;
}
.hover : hover {
    -fx-background-color: #c3a696;
}
.profile-hover:hover{
    -fx-background-color: #73b2e6;
}
.profile-background{
    -fx-background-color: #6095c0;
}


.update-background{
    -fx-background-color: #73b2e6;
}
.update-hover:hover{
    -fx-background-color: #7fbcff;
}